{% extends 'base.html' %}
{% block content %}
  <h2>Welcome to the Demo</h2>
  <div class="project-info">
    <p class="project-title">Project Title: Research Lab Manager (DBMS Implementation)</p>
    <p class="course">Course: CS 631 – Data Management Systems Design</p>
    <p class="team-label">Team Members:</p>
    <ul class="team-members">
      <li>Roopesh Kumar Reddy Kaipa (rk979)</li>
      <li>Pratham Raj Mathur (pm788)</li>
      <li>Deep Anil Talreja (dt443)</li>
    </ul>
  </div>
{% endblock %}
